html {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.spacer {
  height: 800px;
}

.callback{
  position: fixed;
  bottom: 48px;
  left: 16px;
  font-size: 16px;
  z-index: 999;
}

.callbackText{
  font-size: 48px;
}

.trigger {
  background-color: pink;
  height: 1000px;
  position: relative;
}

.note {
  position: fixed;
  left: 16px;
  bottom: 16px;
}

.viewportMarker {
  position: fixed;
  width: 120px;
  right: 0;
  line-height: 1.2;
  height: 20px;
  margin-top: -20px;
  border-bottom: 1px solid #000;
  border-color: currentColor;
  z-index: 999;
}

.startViewportMarker {
  color: green;
  top: 90%;
}

.endViewportMarker {
  color: red;
  top: 50%;
}

.triggerMarker {
  position: absolute;
  width: 120px;
  height: 20px;
  margin-top: -20px;
  right: 0;
  line-height: 1.2;
  border-bottom: 1px solid #000;
  border-color: currentColor;
  z-index: 999;
}

.startTriggerMarker {
  color: green;
  top: 1000px;
}

.endTriggerMarker {
  color: red;
  top: 1800px;
}
