* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spacer {
  height: 600px;
}
.trigger {
  background-color: pink;
  height: 1000px;
  position: relative;
}

.marker {
  position: absolute;
  top: 50%;
  right: 0;
  width: 45px;
  border-bottom: 1px solid red;
}
